body {
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dots-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  z-index: 99999999;
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #ff9900;
  animation: pulse 2s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #ff9900;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
  50% {
    transform: scale(1.2);
    background-color: #ff9900;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }
  100% {
    transform: scale(0.8);
    background-color: #ff9900;
    box-shadow: 0 0 0 0 rgba(218, 108, 35, 0.768627451);
  }
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
