@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ff9900;
}





@media only screen and (min-width:200px) and (max-width:399px) {}





/* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {
    .main-container
    {
        width: 100vw;
        height: 100vh;
    }
    header {
        padding: 14px 20px;
        font-size: 1.1rem;
        font-weight: 400;
        border-bottom:1px solid rgba(0, 0, 0, 0.1) ;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        position: sticky;
        background-color: #fff;
        width: 100%;
        top: 0;
    }
    .cart-container
    {
        padding: 10px 0;
        height: 720px;
        overflow-y: scroll;
    }
    .product-content
    {
        display: flex;
        gap: 30px;
    }
    
    .product-container
    {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        align-items: center;
    }
    .product-img img
    {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .productname
    {
        font-size: 12px;
        color: #ff9900;
        text-transform: uppercase;
        font-weight: 600;
        width: 36ch;
    }
    .productprice
    {
        font-size: 16px;
        font-weight: 700;
    }
    .fa-trash-can
    {
        color: #ff4343;
    }
    .product-emptyContainer
    {
        display: flex;
        height: 70vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .empty-text
    {
        color: #ff9900;
        font-weight: 600;
        font-size: 28px;
        text-shadow: 1px 1px 2px #000;
    }
    .product-empty button
    {
        color: #fff;
        border: none;
        background-color: #ff9900;
        padding: 5px 10px;
        border-radius: 6px;
    }
    .total-container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 20px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        border-top: 1px dashed rgba(0, 0, 0, 0.1);
    }
    .Total
    {
        color:#ff9900;
        font-weight: 700;
        font-size: 17px;
        text-shadow:1px 1px 2px #d4c6c6;
    }
    .total-container button
    {
        border: none;
        padding: 5px 30px;
        background-color: #ff9900;
        color: #fff;
    }
}





/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {}





/* laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {}






/* desktop */
@media only screen and (min-width:1440px) and (max-width:2159px) {}