@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}





@media only screen and (min-width:200px) and (max-width:399px) {
	 :root {
	--accent-900: #49a87d;
	--accent-800: #1b945b;
	--check-svg: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23ffffff'%3E%3Cpath d='M400-314.46 250.46-464 296-509.54l104 104 264-264L709.54-624 400-314.46Z'/%3E%3C/svg%3E");

	--notification-inset: 2rem;

	font-family: system-ui;
}

*,
:after,
:before {
	box-sizing: inherit;
}
.alert-container,.alert-container-true
{
   display: none;
}

.notification {
	color: rgba(0, 0, 0, 0.7);
	position: fixed;
	display: flex;
	font-size: 1rem;
	letter-spacing: 2px;
	gap: 1.75rem;
	top: 0;
	right: 0;
	margin: var(--notification-inset);
	width: 24rem;
	background-color: white;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	max-width: calc(100% - 6rem);
	 z-index: 1435435903539857235935678932562000000;
	padding: 1.75rem 1.25rem 1.25rem;
	overflow: clip;
	transform: translateX(calc(100% + var(--notification-inset)));
	animation: slideInOut 4s infinite cubic-bezier(0.33, 0, 0.66, 1.33);
	animation-play-state: var(--animation-play-state);

	&:hover {
		--animation-play-state: paused;
	}

	&:before {
		content: "";
		display: block;
		inset: 0 0 auto;
		height: 0.5rem;
		background-color: #49a87d;
		transform-origin: left;
		position: absolute;
		animation: countdown 4s infinite linear;
		animation-play-state: var(--animation-play-state);
	}

	&__text {
		margin: 0.3rem 0 0;
	}

	&__header {
		color: black;
		margin: 0;
		font-size: 1rem;
		font-weight: 600;
	}

	&__action {
		margin-left: auto;
	}

	&__icon {
		border-radius: 50%;
		display: block;
		aspect-ratio: 1;
		background-size: 3rem;
		background-color: #49a87d;
		background-image: var(--check-svg);
		background-repeat: no-repeat;
		background-position: 50% 100%;
		width: 3.2rem;
		margin-bottom: auto;
		flex-shrink: 0;
	}
}

.button {
	appearance: none;
	background: no-repeat;
	border: none;
	font: inherit;
	margin: 0;
	color: currentColor;
	padding: 0;
}

@keyframes slideInOut {
	15%,
	66% {
		transform: translateX(0);
	}
}

@keyframes countdown {
	66%,
	100% {
		transform: scaleX(0);
	}
}
}





/* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {
.fa-basket-shopping
{
	width: 16px;
	height: 16px;
}
body
{
	width: 100%;
	height: 100vh;
}
.fa-arrow-left
{
	font-size: 20px;
	color: black;
}
.fa-arrow-left:hover
{
	color: gray;
}
.checkout-header
{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.checkout-header-content
{
	display: flex;
	justify-content: start;
	gap: 20px;
	align-items: center;
	padding: 0 20px;
}
.checkout-header-title
{
	font-size: 16px;
	font-weight: 600;
	color: black;
	margin-top: 10px;
}
  .cart-container
    {
        padding: 10px 0;
        height: 720px;
        overflow-y: scroll;
		width: 100%;
    }
    .product-content
    {
        display: flex;
        gap: 30px;
    }
    
    .product-container
    {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        align-items: center;
		padding: 0 20px;
		margin-top: 10px;
    }
    .product-img img
    {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .productname
    {
        font-size: 12px;
        color: #ff9900;
        text-transform: uppercase;
        font-weight: 600;
        width: 26ch;
    }
    .productprice
    {
        font-size: 16px;
    }
    .fa-trash-can
    {
        color: #ff4343;
    }
	.product-price
	{
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 90px;
	}
	.product-quantity
	{
		display: flex;
		width: 100%;
		align-items: center;
	}
	.quantity-input
	{
		width: 50px;
		height: 20px;
		border-radius: 15px;
		padding: 10px;
		border: 1px solid #1b945b;
		text-align: center;
		outline: none;
		
	}
	.increase-btn,.decrease-btn
	{
		width: 40px;
		height: 40px;
		color: #1b945b;
		border: none;
		cursor: pointer;
		background-color: transparent;
		font-size: 26px;
		outline: none;
	}





































}







/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {
	 :root {
	--accent-900: #49a87d;
	--accent-800: #1b945b;
	--check-svg: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23ffffff'%3E%3Cpath d='M400-314.46 250.46-464 296-509.54l104 104 264-264L709.54-624 400-314.46Z'/%3E%3C/svg%3E");

	--notification-inset: 2rem;

	font-family: system-ui;
}

*,
:after,
:before {
	box-sizing: inherit;
}
.alert-container,.alert-container-true
{
   display: none;
}

.notification {
	color: rgba(0, 0, 0, 0.7);
	position: fixed;
	display: flex;
	font-size: 1rem;
	letter-spacing: 2px;
	gap: 1.75rem;
	top: 0;
	right: 0;
	margin: var(--notification-inset);
	width: 24rem;
	background-color: white;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	max-width: calc(100% - 6rem);
	 z-index: 1435435903539857235935678932562000000;
	padding: 1.75rem 1.25rem 1.25rem;
	overflow: clip;
	transform: translateX(calc(100% + var(--notification-inset)));
	animation: slideInOut 4s infinite cubic-bezier(0.33, 0, 0.66, 1.33);
	animation-play-state: var(--animation-play-state);

	&:hover {
		--animation-play-state: paused;
	}

	&:before {
		content: "";
		display: block;
		inset: 0 0 auto;
		height: 0.5rem;
		background-color: #49a87d;
		transform-origin: left;
		position: absolute;
		animation: countdown 4s infinite linear;
		animation-play-state: var(--animation-play-state);
	}

	&__text {
		margin: 0.3rem 0 0;
	}

	&__header {
		color: black;
		margin: 0;
		font-size: 1rem;
		font-weight: 600;
	}

	&__action {
		margin-left: auto;
	}

	&__icon {
		border-radius: 50%;
		display: block;
		aspect-ratio: 1;
		background-size: 3rem;
		background-color: #49a87d;
		background-image: var(--check-svg);
		background-repeat: no-repeat;
		background-position: 50% 100%;
		width: 3.2rem;
		margin-bottom: auto;
		flex-shrink: 0;
	}
}

.button {
	appearance: none;
	background: no-repeat;
	border: none;
	font: inherit;
	margin: 0;
	color: currentColor;
	padding: 0;
}

@keyframes slideInOut {
	15%,
	66% {
		transform: translateX(0);
	}
}

@keyframes countdown {
	66%,
	100% {
		transform: scaleX(0);
	}
}
}





/* laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {
	 :root {
	--accent-900: #49a87d;
	--accent-800: #1b945b;
	--check-svg: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23ffffff'%3E%3Cpath d='M400-314.46 250.46-464 296-509.54l104 104 264-264L709.54-624 400-314.46Z'/%3E%3C/svg%3E");

	--notification-inset: 2rem;

	font-family: system-ui;
}

*,
:after,
:before {
	box-sizing: inherit;
}
.alert-container,.alert-container-true
{
   display: none;
}

.notification {
	color: rgba(0, 0, 0, 0.7);
	position: fixed;
	display: flex;
	font-size: 1rem;
	letter-spacing: 2px;
	gap: 1.75rem;
	top: 0;
	right: 0;
	margin: var(--notification-inset);
	width: 24rem;
	background-color: white;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	max-width: calc(100% - 6rem);
	 z-index: 1435435903539857235935678932562000000;
	padding: 1.75rem 1.25rem 1.25rem;
	overflow: clip;
	transform: translateX(calc(100% + var(--notification-inset)));
	animation: slideInOut 4s infinite cubic-bezier(0.33, 0, 0.66, 1.33);
	animation-play-state: var(--animation-play-state);

	&:hover {
		--animation-play-state: paused;
	}

	&:before {
		content: "";
		display: block;
		inset: 0 0 auto;
		height: 0.5rem;
		background-color: #49a87d;
		transform-origin: left;
		position: absolute;
		animation: countdown 4s infinite linear;
		animation-play-state: var(--animation-play-state);
	}

	&__text {
		margin: 0.3rem 0 0;
	}

	&__header {
		color: black;
		margin: 0;
		font-size: 1rem;
		font-weight: 600;
	}

	&__action {
		margin-left: auto;
	}

	&__icon {
		border-radius: 50%;
		display: block;
		aspect-ratio: 1;
		background-size: 3rem;
		background-color: #49a87d;
		background-image: var(--check-svg);
		background-repeat: no-repeat;
		background-position: 50% 100%;
		width: 3.2rem;
		margin-bottom: auto;
		flex-shrink: 0;
	}
}

.button {
	appearance: none;
	background: no-repeat;
	border: none;
	font: inherit;
	margin: 0;
	color: currentColor;
	padding: 0;
}

@keyframes slideInOut {
	15%,
	66% {
		transform: translateX(0);
	}
}

@keyframes countdown {
	66%,
	100% {
		transform: scaleX(0);
	}
}
}






/* desktop */
@media only screen and (min-width:1440px) and (max-width:2159px) {
	 :root {
	--accent-900: #49a87d;
	--accent-800: #1b945b;
	--check-svg: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23ffffff'%3E%3Cpath d='M400-314.46 250.46-464 296-509.54l104 104 264-264L709.54-624 400-314.46Z'/%3E%3C/svg%3E");

	--notification-inset: 2rem;

	font-family: system-ui;
}

*,
:after,
:before {
	box-sizing: inherit;
}
.alert-container,.alert-container-true
{
   display: none;
}

.notification {
	color: rgba(0, 0, 0, 0.7);
	position: fixed;
	display: flex;
	font-size: 12px;
	letter-spacing: 2px;
	gap: 1.75rem;
	top: 0;
	right: 0;
	margin: var(--notification-inset);
	width: 17rem;
	background-color: white;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	max-width: calc(100% - 6rem);
	 z-index: 1435435903539857235935678932562000000;
	padding: 1.75rem 1.25rem 1.25rem;
	overflow: clip;
	transform: translateX(calc(100% + var(--notification-inset)));
	animation: slideInOut 4s infinite cubic-bezier(0.33, 0, 0.66, 1.33);
	animation-play-state: var(--animation-play-state);

	&:hover {
		--animation-play-state: paused;
	}

	&:before {
		content: "";
		display: block;
		inset: 0 0 auto;
		height: 0.5rem;
		background-color: #49a87d;
		transform-origin: left;
		position: absolute;
		animation: countdown 4s infinite linear;
		animation-play-state: var(--animation-play-state);
	}

	&__text {
		margin: 0.3rem 0 0;
	}

	&__header {
		color: black;
		margin: 0;
		font-size: 1rem;
		font-weight: 600;
	}

	&__action {
		margin-left: auto;
	}

	&__icon {
		border-radius: 50%;
		display: block;
		aspect-ratio: 1;
		background-size: 3rem;
		background-color: #49a87d;
		background-image: var(--check-svg);
		background-repeat: no-repeat;
		background-position: 50% 100%;
		width: 3.2rem;
		margin-bottom: auto;
		flex-shrink: 0;
	}
}

.button {
	appearance: none;
	background: no-repeat;
	border: none;
	font: inherit;
	margin: 0;
	color: currentColor;
	padding: 0;
}

@keyframes slideInOut {
	15%,
	66% {
		transform: translateX(0);
	}
}

@keyframes countdown {
	66%,
	100% {
		transform: scaleX(0);
	}
}
}