



 

 /* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {
    
/* 
      login page */
     .login-container
     {
         display: none;
     }
     .main-container
     {
         background-color: #fff;
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0%;
         left: 0;
         z-index: 10000000000;
     }
     .login-header button
     {
         font-size: 20px;
         padding: 16px;
         color: #6f7274;
     }
     .login-header
     {
         height: 200px;
         background-color: #f2f4f9;
     }
     .header-content
     {
         display: flex;
         flex-direction: column;
         justify-content:end;
         align-items:start;
         height:50%;
         padding: 0 20px;
         line-height: 8px;
     }
     .header-content .title
     {
         font-size: 18px;
         text-transform: uppercase;
         font-weight: 900;
     }
     .header-content .content
     {
         font-size: 14px;
         color: #333333d3;
     }
     .signin-details,.signup-details,.forget-container
     {
         padding: 20px 30px;
         display: flex;
         flex-direction: column;
         gap: 20px;
         justify-content: start;
         align-items: start;
     }
     .email
     {
         display: flex;
         flex-direction: column;
         width: 100%;
         gap: 10px;
         color: #ff9900;
     }
      input
      {
          border: none;
      }
      input:focus
      {
          outline: none;
      }
     .email
     {
         border-bottom: 1px solid rgba(0, 0, 0, 0.2);
     }
     .button button
     {
         margin-top: 20px;
         border: none;
         background-color: #ff9900;
         padding: 7px 140px;
         color: #fff;
         font-size: 14px;
     }
     .signup-btn
     {
         color: #ff9900;
         display: flex;
         justify-content: end;
     }
     .imglogin img
     {
         width: 20px;
     }
     .login-emails
     {
         display: flex;
         flex-direction: column;
         gap: 14px;
         position: absolute;
         width: 100%;
         bottom: 20px;
     }
     .googlelogin
     {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 20px;
         border: 1px solid rgba(0, 0, 0, 0.1);
         width: 90%;
         margin: auto;
         padding: 10px;
         border-radius: 4px;
         box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
         -1px -1px 2px rgba(0, 0, 0, 0.1);
         color: #666;
     }
     .already,.forget,.already-know
     {
         padding: 20px;
         text-align: center;
         color: #ff9900;
     }
     .alerts
     {
         position: absolute;
        top: 0;
        left: 0;
        z-index: 20000000000000000000000;
        width: 100%;
        border-radius: 0px;
        display: none;
     }
     .alerttrue
     {
        position: absolute;
        top: 0;
        z-index: 20000000000000000000000;
        width: 100%;
        border-radius: 0px;
        display: none;
     }

     .display
     {
        position: absolute;
        top: 0;
     }




     .signup-details
     {
         display: none;
     }
     .forget-container
     {
         display: none;
     }
  
   
   
 





    
}







/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {
    
    

}





/* laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {
    
}






/* desktop */
@media only screen and (min-width:1440px) and (max-width:2159px) {
    


}