@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary-color: #ff9900;
	font-family: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}





@media only screen and (min-width:200px) and (max-width:399px) {

	.header-cont {
		background-color: var(--primary-color);
		height: 200px;
		color: #ffff;
	}

	.header-text {
		font-size: 18px;
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	.first-container {
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		height: 130px;
	}

	.content-show p {
		text-transform: capitalize;
		padding: 10px 0;
	}

	.second-content-heading,
	.third-content-heading {
		margin-top: 20px;
		padding: 10px;
		font-size: 17px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		font-weight: 700;
	}

	tr,
	td {
		padding: 10px;
	}

	.edit {
		color: #ff9900;
	}

	.img-src {
		border-radius: 50%;
	}

	.phoneNumber-container {
		position: absolute;
		top: 300px;
		left: 55px;
		background-color: #ffff;
		height: 240px;
		width: 300px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1),
			-1px -5px -7px rgba(0, 0, 0, 0.1);
		display: none;
		transition: all 0.5s;
	}

	.phoneNumber {
		padding: 0px 20px;
	}

	.pNtit {
		text-align: center;
		font-size: 16px;
		font-family: 'Times New Roman', Times, serif;
		font-weight: 600;
		color: #ff9900;
	}

	.ph-input {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.pNtext {
		color: #777;
	}

	#phinput,
	input {
		outline: none;
		padding: 4px 20px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 3px;
	}

	.phoneNumber button {
		padding: 2px 10px;
		margin-top: 10px;
		border: none;
		background-color: #ff9900;
		color: #fff;
	}

	.message-alert {
		text-align: center;
		color: #1b945b;
		display: none;
	}

	.close {
		text-align: end;
		padding: 10px 10px;
	}

	.fa-close {
		color: #ff9900;
	}

	.address-container {
		position: absolute;
		top: 180px;
		left: 55px;
		background-color: #ffff;
		height: 500px;
		width: 300px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1),
			-1px -5px -7px rgba(0, 0, 0, 0.1);
		transition: all 0.5s;
		padding: 10px 0;
		display: none;

	}

	.addresss-api {
		padding: 4px 0;
		text-align: center;
		color: #ff9900;
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: 10px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	}

	.pc-container {
		display: none;
	}



}





/* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {

	.header-cont {
		background-color: var(--primary-color);
		height: 200px;
		color: #ffff;
	}

	.header-text {
		font-size: 18px;
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	.first-container {
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		height: 130px;
	}

	.content-show p {
		text-transform: capitalize;
		padding: 10px 0;
	}

	.second-content-heading,
	.third-content-heading {
		margin-top: 20px;
		padding: 10px;
		font-size: 17px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		font-weight: 700;
	}

	tr,
	td {
		padding: 10px;
	}

	.edit {
		color: #ff9900;
	}

	.img-src {
		border-radius: 50%;
	}

	.phoneNumber-container {
		position: absolute;
		top: 300px;
		left: 55px;
		background-color: #ffff;
		height: 240px;
		width: 300px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1),
			-1px -5px -7px rgba(0, 0, 0, 0.1);
		display: none;
		transition: all 0.5s;
	}

	.phoneNumber {
		padding: 0px 20px;
	}

	.pNtit {
		text-align: center;
		font-size: 16px;
		font-family: 'Times New Roman', Times, serif;
		font-weight: 600;
		color: #ff9900;
	}

	.ph-input {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.pNtext {
		color: #777;
	}

	#phinput,
	input {
		outline: none;
		padding: 4px 20px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 3px;
	}

	.phoneNumber button {
		padding: 2px 10px;
		margin-top: 10px;
		border: none;
		background-color: #ff9900;
		color: #fff;
	}

	.message-alert {
		text-align: center;
		color: #1b945b;
		display: none;
	}

	.close {
		text-align: end;
		padding: 10px 10px;
	}

	.fa-close {
		color: #ff9900;
	}

	.address-container {
		position: absolute;
		top: 180px;
		left: 55px;
		background-color: #ffff;
		height: 500px;
		width: 300px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1),
			-1px -5px -7px rgba(0, 0, 0, 0.1);
		transition: all 0.5s;
		padding: 10px 0;
		display: none;

	}

	.addresss-api {
		padding: 4px 0;
		text-align: center;
		color: #ff9900;
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: 10px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	}

	.pc-container {
		display: none;
	}





}







/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {

	.header-cont {
		background-color: var(--primary-color);
		height: 200px;
		color: #ffff;
	}

	.header-text {
		font-size: 18px;
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	.first-container {
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		height: 130px;
	}

	.content-show p {
		text-transform: capitalize;
		padding: 10px 0;
	}

	.second-content-heading,
	.third-content-heading {
		margin-top: 20px;
		padding: 10px;
		font-size: 17px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		font-weight: 700;
	}

	tr,
	td {
		padding: 10px;
	}

	.edit {
		color: #ff9900;
	}

	.img-src {
		border-radius: 50%;
	}

	.phoneNumber-container {
		position: absolute;
		top: 300px;
		left: 55px;
		background-color: #ffff;
		height: 240px;
		width: 300px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1),
			-1px -5px -7px rgba(0, 0, 0, 0.1);
		display: none;
		transition: all 0.5s;
	}

	.phoneNumber {
		padding: 0px 20px;
	}

	.pNtit {
		text-align: center;
		font-size: 16px;
		font-family: 'Times New Roman', Times, serif;
		font-weight: 600;
		color: #ff9900;
	}

	.ph-input {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.pNtext {
		color: #777;
	}

	#phinput,
	input {
		outline: none;
		padding: 4px 20px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 3px;
	}

	.phoneNumber button {
		padding: 2px 10px;
		margin-top: 10px;
		border: none;
		background-color: #ff9900;
		color: #fff;
	}

	.message-alert {
		text-align: center;
		color: #1b945b;
		display: none;
	}

	.close {
		text-align: end;
		padding: 10px 10px;
	}

	.fa-close {
		color: #ff9900;
	}

	.address-container {
		position: absolute;
		top: 180px;
		left: 55px;
		background-color: #ffff;
		height: 500px;
		width: 300px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1),
			-1px -5px -7px rgba(0, 0, 0, 0.1);
		transition: all 0.5s;
		padding: 10px 0;
		display: none;

	}

	.addresss-api {
		padding: 4px 0;
		text-align: center;
		color: #ff9900;
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: 10px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	}

	.pc-container {
		display: none;
	}



}





/* laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {
	:root {
		--accent-900: #49a87d;
		--accent-800: #1b945b;
		--check-svg: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23ffffff'%3E%3Cpath d='M400-314.46 250.46-464 296-509.54l104 104 264-264L709.54-624 400-314.46Z'/%3E%3C/svg%3E");

		--notification-inset: 2rem;

		font-family: system-ui;
	}

	*,
	:after,
	:before {
		box-sizing: inherit;
	}

	.alert-container,
	.alert-container-true {
		display: none;
	}

	.notification {
		color: rgba(0, 0, 0, 0.7);
		position: fixed;
		display: flex;
		font-size: 1rem;
		letter-spacing: 2px;
		gap: 1.75rem;
		top: 0;
		right: 0;
		margin: var(--notification-inset);
		width: 24rem;
		background-color: white;
		box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
		border-radius: 0.5rem;
		max-width: calc(100% - 6rem);
		z-index: 1435435903539857235935678932562000000;
		padding: 1.75rem 1.25rem 1.25rem;
		overflow: clip;
		transform: translateX(calc(100% + var(--notification-inset)));
		animation: slideInOut 4s infinite cubic-bezier(0.33, 0, 0.66, 1.33);
		animation-play-state: var(--animation-play-state);

		&:hover {
			--animation-play-state: paused;
		}

		&:before {
			content: "";
			display: block;
			inset: 0 0 auto;
			height: 0.5rem;
			background-color: #49a87d;
			transform-origin: left;
			position: absolute;
			animation: countdown 4s infinite linear;
			animation-play-state: var(--animation-play-state);
		}

		&__text {
			margin: 0.3rem 0 0;
		}

		&__header {
			color: black;
			margin: 0;
			font-size: 1rem;
			font-weight: 600;
		}

		&__action {
			margin-left: auto;
		}

		&__icon {
			border-radius: 50%;
			display: block;
			aspect-ratio: 1;
			background-size: 3rem;
			background-color: #49a87d;
			background-image: var(--check-svg);
			background-repeat: no-repeat;
			background-position: 50% 100%;
			width: 3.2rem;
			margin-bottom: auto;
			flex-shrink: 0;
		}
	}

	.button {
		appearance: none;
		background: no-repeat;
		border: none;
		font: inherit;
		margin: 0;
		color: currentColor;
		padding: 0;
	}

	@keyframes slideInOut {

		15%,
		66% {
			transform: translateX(0);
		}
	}

	@keyframes countdown {

		66%,
		100% {
			transform: scaleX(0);
		}
	}
}






/* desktop */
@media only screen and (min-width:1440px) and (max-width:2159px) {
	.header {
		background-color: #ff9900;
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-menus {
		display: flex;
		align-items: center;
		justify-content: end;
		padding: 4px 40px;
		gap: 20px;
		color: #fff;
		height: 60px;
	}

	.loginimg,
	.logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;

	}

	.logo-name {
		font-weight: 900;
	}

	.loginimg p,
	.logo-container p {
		margin-top: 13px;
	}

	.displays:hover {
		color: #ff4343;
		cursor: pointer;
	}

	.main-data {
		display: flex;
	}

	.side-bar {
		width: 18%;
		display: flex;
		justify-content: center;
		height: 93vh;
		background-color: #fff;
		border-right: 1px solid rgba(0, 0, 0, 0.1);

	}

	.main-bar::-webkit-scrollbar {
		display: none;
	}

	.main-bar {
		width: 82%;
		height: 93vh;
		overflow: scroll;
		text-align: justify;
		padding: 20px;
		background-color: #fff;
	}

	.side-container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 50px 0;
	}

	.side-menu-content {
		color: #444;
		background-color: #fff;
		transition: 1s;
		cursor: pointer;
	}

	.foodvarieties,
	.other-service {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.head-tit {
		font-size: 12px;
		color: #999;
	}

	.side-menu-content-active {
		border-left: 4px solid #ff9900;
		padding: 0 30px 0 20px;
		border-radius: 3px;
		color: #ff9900;
	}
	.account-container
	{
		transition:all 0.6s;
	}

	.account-content {
		display: flex;
	}

	.account-first {
		width: 90%;
		height:1100px;
	}
	#map
	{
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 12px;
	}

	.account-second {
		width: 30%;
		height: 86vh;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		margin-left: -2400px;
		transition: all 1s;
		background-color: #fff;

	}
	.account-second-active
	{
		margin-left: 0;
	}

	.account-first-container {
		background-color: #fff;
		height:400px;
		width: 90%;
	}

	.img-src {
		border-radius: 50%;
	}

	.name {
		text-transform: capitalize;
	}

	.datatit {
		display: flex;
		flex-direction: column;
		line-height: 14px;
		padding: 8px 4px;
		color: #888;
		justify-content: start;
	}

	.detailsforuser {
		height: 300px;
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 2fr 2fr;
		flex-wrap: wrap;
	}

	.accountdet {
		border-radius: 2%;
		width: 250px;
		height: 90px;
		box-shadow: 1px 1px 1px #ff9900,
			-1px -1px 1px rgba(0, 0, 0, 0.1);
	}

	.name-details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
	}

	.nametopic {
		font-weight: 700;
		font-size: 17px;
	}

	.icon-font {
		color: #ff9900;
		font-size: 17px;
		cursor: pointer;
	}

	.nameform {
		color: #888;
		font-size: 14px;
		padding: 0 20px;
	}

	/* form design */

	.close {
		text-align: end;
	}

	.close:hover {
		color: #ff9900;
		cursor: pointer;
	}

	.titac {
		text-align: center;
		font-size: 19px;
		font-weight: 900;
		text-transform: uppercase;
		color: #ff9900;
	}

	.accounts-input {
		height: 500px;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),
			-1px -1px 1px rgba(0, 0, 0, 0.1);
		width: 80%;
		margin: auto;
		padding: 20px;
		border-radius: 12px;
	}

	.ph-input {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}
	.pNtext
	{
		color: #888;
		margin-top: 2px;
	}
	input
	{
		padding: 2px;
		border-radius: 5px;
		outline: none;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
	.addresss-api
	{
		padding: 10px;
		text-align: center;
		color: #ff9900;
	}
	.addresss-api:hover
	{
		color: #ff4343;
		cursor: pointer;
	}
	.submit-container
	{
		background-color: #ff9900;
		color:#fff;
		border: none;
		padding: 5px 8px;
		border-radius: 17px;
	}


}