body {
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "popins";
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.cart-alert-message {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "popins";
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.nav-btn {
  display: none;
}

.nav-btns {
  display: none;
}

.nav-btn-close {
  display: none;
}

.mobile-data {
  display: none;
}

.Scrollbar-bottom {
  display: none;
}

.right-link {
  display: none;
}

.dots-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  z-index: 99999999;
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #ff9900;
  animation: pulse 2s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #ff9900;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
  50% {
    transform: scale(1.2);
    background-color: #ff9900;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }
  100% {
    transform: scale(0.8);
    background-color: #ff9900;
    box-shadow: 0 0 0 0 rgba(218, 108, 35, 0.768627451);
  }
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (min-width: 260px) and (max-width: 399px) {
  .headerContainer {
    width: 100%;
    height: 690px;
    background-color: #ff9900;
  }
  .headerImage {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 80px;
    position: absolute;
    left: 20px;
    top: 1px;
  }
  .header-img {
    width: 40px;
    height: 40px;
    border-radius: 12px 12px 12px 12px;
    object-fit: fill;
  }
  .header-title {
    color: #fff;
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 12px;
    font-weight: 1000;
  }
  .nav-bar {
    display: flex;
    justify-content: space-around;
  }
  .nav-menu {
    list-style-type: none;
    color: #fff;
  }
  .nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 1000;
    position: relative;
  }
  .getapp {
    font-size: 1.1rem;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    width: 90%;
    bottom: 20px;
  }
  .signin {
    background-color: #000;
    font-size: 1.1rem;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
  }
  .imgLeft {
    display: none;
  }
  .imgRight {
    display: none;
  }
  .search {
    display: flex;
    justify-content: center;
    height: 230px;
    align-items: center;
    width: 380px;
    margin: auto;
  }
  .search-box {
    width: 450px;
    height: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    background-color: #fff;
    border-radius: 12px;
    color: #6f7274;
    position: relative;
  }
  .text-span {
    width: 20ch;
    overflow: hidden;
    text-wrap: nowrap;
    animation: run 4s steps(20) infinite alternate-reverse;
  }
  @keyframes run {
    from {
      width: 0ch;
    }
  }
  .glass-work {
    position: absolute;
    top: 14px;
    right: 10px;
  }
  .App-cart {
    display: none;
  }
  .nav-btn {
    display: block;
    position: absolute;
    right: 24px;
    top: 30px;
    font-size: 1.4rem;
    color: #fff;
  }
  .headerNav {
    position: fixed;
    background-color: #ff9900;
    height: 102vh;
    width: 100vw;
    z-index: 40000;
    margin-left: -1099px;
    transition: all 1s;
  }
  .headerNav-active {
    margin-left: 0;
    transition: all 1s;
  }
  .nav-btn-close {
    display: block;
  }
  .nav-btns {
    display: block;
    position: absolute;
    right: 74px;
    top: 30px;
    font-size: 1.4rem;
    color: #fff;
  }
  .nav-btn-close {
    display: block;
    text-align: end;
    padding: 15px;
    font-size: 1.2rem;
    color: #fff;
  }
  .nav-menu {
    padding: 20px 20px;
  }
  .nav-menu li {
    padding: 10px 0;
  }
  .signin {
    display: none;
  }
  .mobile-data {
    display: block;
  }
  .app-controler {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 20000;
    color: rgba(2, 6, 12, 0.45);
    border-top: 1px solid rgba(2, 6, 12, 0.2);
    padding: 6px 0;
    background-color: #fff;
  }
  .app-controler-data {
    display: flex;
    justify-content: space-around;
  }
  .cart-btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .control {
    margin-left: 5px;
  }
  .cart-tit {
    font-size: 12px;
  }
  .orders-tit {
    position: absolute;
    top: 160px;
    display: flex;
    border-bottom: 1px solid rgba(226, 189, 22, 0.3);
    justify-content: center;
    align-items: center;
  }
  .orders-tit-cnt {
    color: #fff;
    font-size: 1.2rem;
    padding: 0 20px;
  }
  .orders-img {
    position: absolute;
    top: 310px;
  }
  .orders-img-cnt,
  .orders-img-cnt1 {
    margin: auto;
  }
  .orders-img1 {
    position: absolute;
    top: 460px;
    display: flex;
    justify-content: center;
  }
  main {
    height: 1100px;
  }
  .food-container,
  .instantshop-container,
  .dineout-container {
    margin-left: 15px;
  }
  .food-container-title,
  .instantshop-container-title {
    font-size: 17px;
    font-weight: 900;
    padding: 0 10px;
  }
  .food-list img,
  .instantshop-list img {
    height: 86px;
    width: 86px;
  }
  .instantshop-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    height: 150px;
  }
  .instantshop-list::-webkit-scrollbar {
    display: none;
  }
  .instantshop-list a {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
  }
  .dineout-content {
    display: flex;
    overflow-x: auto;
    height: 320px;
    gap: 20px;
  }
  .dineout-content::-webkit-scrollbar {
    display: none;
  }
  .dineout-content-files {
    width: 322px;
    height: 320px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .dineout-content-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 318px;
    height: 182px;
  }
  .dineout-content-img {
    background-color: rgba(0, 0, 0, 0.0470588235);
  }
  .company-topic {
    position: absolute;
    top: 47%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }
  .company-rating {
    font-weight: 600;
    font-size: 16px;
    text-shadow: 4px 4px 12px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  .fa-star {
    color: var(--bs-success);
  }
  .company-tit-topic {
    font-size: 21px;
    text-shadow: 4px 4px 12px #000;
    font-weight: 900;
  }
  .contenttitle {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #6f7274;
  }
  .fa-square-check,
  .table-booking {
    color: #6f7274;
    margin-left: 10px;
  }
  .table-booking {
    width: 37%;
    font-size: 13px;
    padding: 2px 2px;
    border-radius: 4px;
    background-color: #f0f0f5;
  }
  .offer-img img {
    height: 20px;
  }
  .offers {
    display: flex;
    border: 1px solid #1ba672;
    background-color: #1ba672;
    width: 300px;
    margin: auto;
    color: #fff;
    gap: 10px;
    border-radius: 12px;
    justify-content: center;
    margin-top: 5px;
  }
  footer {
    background-color: #f0f0f5;
    height: 400px;
    width: 100%;
    margin-top: 20px;
  }
  .footer-container {
    display: flex;
    align-items: center;
  }
  .footer-img {
    padding: 10px 20px;
  }
  .footer-img img {
    border-radius: 20%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .footer-tit {
    color: #ff9900;
    font-weight: 1000;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .footer-copu {
    padding: 0px 20px;
    color: #616469;
  }
  .company-tit {
    font-size: 22px;
    padding: 0px 20px;
    font-weight: 700;
  }
  .company-list {
    font-size: 18px;
    padding: 10px 20px;
    color: #6f7274;
  }
  .tit-container {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
    padding-bottom: 10px;
  }
  .right-link {
    color: #ff9900;
  }
  .select-color {
    color: #ff9900;
  }
  .locate-data {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    position: absolute;
    bottom: 100px;
    width: 90%;
    margin: auto;
    height: 200px;
    border-radius: 12px;
  }
  .pincodeinputtext {
    text-align: center;
    padding: 3px;
  }
  .pincodeinp {
    width: 90%;
  }
  .inputs {
    padding: 0 40px;
  }
  .pincodeinp:focus {
    outline: none;
  }
  .liveloc {
    display: flex;
    gap: 10px;
    color: #fff;
    justify-content: center;
  }
  .ipb {
    background-color: #ff9900;
    width: 90%;
    color: #fff;
    margin-top: 20px;
    text-align: center;
  }
  .title-data {
    position: absolute;
    top: 0;
    font-size: 20px;
  }
  .cart-alert-message {
    background-color: #1ba672;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: 2000;
    display: none;
  }
  .datas {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 50px;
    color: #fff;
    font-weight: 600;
  }
  .cart a {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 400px) and (max-width: 767px) {
  .headerContainer {
    width: 100%;
    height: 690px;
    background-color: #ff9900;
  }
  .headerImage {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 80px;
    position: absolute;
    left: 20px;
    top: 1px;
  }
  .header-img {
    width: 40px;
    height: 40px;
    border-radius: 12px 12px 12px 12px;
    object-fit: fill;
  }
  .header-title {
    color: #fff;
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 12px;
    font-weight: 1000;
  }
  .nav-bar {
    display: flex;
    justify-content: space-around;
  }
  .nav-menu {
    list-style-type: none;
    color: #fff;
  }
  .nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 1000;
    position: relative;
  }
  .getapp {
    font-size: 1.1rem;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    width: 90%;
    bottom: 20px;
  }
  .signin {
    background-color: #000;
    font-size: 1.1rem;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
  }
  .imgLeft {
    display: none;
  }
  .imgRight {
    display: none;
  }
  .search {
    display: flex;
    justify-content: center;
    height: 230px;
    align-items: center;
    width: 380px;
    margin: auto;
  }
  .search-box {
    width: 450px;
    height: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 160px;
    background-color: #fff;
    border-radius: 12px;
    color: #6f7274;
    position: relative;
    padding: 0 12px;
  }
  .App-cart {
    display: none;
  }
  .nav-btn {
    display: block;
    position: absolute;
    right: 24px;
    top: 30px;
    font-size: 1.4rem;
    color: #fff;
  }
  .headerNav {
    position: fixed;
    background-color: #ff9900;
    height: 100vh;
    width: 100vw;
    z-index: 40000;
    margin-left: -1099px;
    transition: all 1s;
  }
  .headerNav-active {
    margin-left: 0;
    transition: all 1s;
  }
  .nav-btn-close {
    display: block;
    text-align: end;
    padding: 15px;
    font-size: 1.2rem;
    color: #fff;
  }
  .nav-menu {
    padding: 20px 20px;
  }
  .nav-menu li {
    padding: 10px 0;
  }
  .signin {
    display: none;
  }
  .nav-btns {
    display: block;
    position: absolute;
    right: 74px;
    top: 30px;
    font-size: 1.4rem;
    color: #fff;
  }
  .mobile-data {
    display: block;
  }
  .app-controler {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 20000;
    color: rgba(2, 6, 12, 0.45);
    border-top: 1px solid rgba(2, 6, 12, 0.2);
    padding: 6px 0;
    background-color: #fff;
  }
  .app-controler-data {
    display: flex;
    justify-content: space-around;
  }
  .cart-btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .control {
    margin-left: 5px;
  }
  .cart-tit {
    font-size: 12px;
  }
  .orders-tit {
    position: absolute;
    top: 160px;
    display: flex;
    border-bottom: 1px solid rgba(226, 189, 22, 0.3);
    justify-content: center;
    align-items: center;
  }
  .orders-tit-cnt {
    color: #fff;
    font-size: 1.2rem;
    padding: 0 20px;
  }
  .orders-img {
    position: absolute;
    top: 310px;
    left: 12px;
  }
  .orders-img-cnt,
  .orders-img-cnt1 {
    margin: auto;
  }
  .orders-img1 {
    position: absolute;
    top: 460px;
    left: 12px;
    display: flex;
    justify-content: center;
  }
  main {
    height: 1130px;
  }
  .food-container,
  .instantshop-container,
  .dineout-container {
    margin-left: 6px;
  }
  .food-container-title,
  .instantshop-container-title {
    font-size: 17px;
    font-weight: 900;
    padding: 0 10px;
  }
  .food-list img,
  .instantshop-list img {
    height: 96px;
    width: 96px;
  }
  .instantshop-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    height: 150px;
  }
  .instantshop-list::-webkit-scrollbar {
    display: none;
  }
  .instantshop-list a {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
  }
  .dineout-content {
    display: flex;
    overflow-x: auto;
    height: 320px;
    gap: 20px;
  }
  .dineout-content::-webkit-scrollbar {
    display: none;
  }
  .dineout-content-files {
    width: 322px;
    height: 320px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .dineout-content-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 318px;
    height: 182px;
    object-fit: cover;
  }
  .dineout-content-img {
    background-color: rgba(0, 0, 0, 0.0470588235);
  }
  .company-topic {
    position: absolute;
    top: 47%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }
  .company-rating {
    font-weight: 600;
    font-size: 16px;
    text-shadow: 4px 4px 12px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  .fa-star {
    color: var(--bs-success);
  }
  .company-tit-topic {
    font-size: 21px;
    text-shadow: 4px 4px 12px #000;
    font-weight: 900;
  }
  .contenttitle {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #6f7274;
  }
  .fa-square-check,
  .table-booking {
    color: #6f7274;
    margin-left: 10px;
  }
  .table-booking {
    width: 37%;
    font-size: 13px;
    padding: 2px 2px;
    border-radius: 4px;
    background-color: #f0f0f5;
  }
  .offer-img img {
    height: 20px;
  }
  .offers {
    display: flex;
    border: 1px solid #1ba672;
    background-color: #1ba672;
    width: 300px;
    margin: auto;
    color: #fff;
    gap: 10px;
    border-radius: 12px;
    justify-content: center;
    margin-top: 5px;
  }
  footer {
    background-color: #f0f0f5;
    height: 400px;
    width: 100%;
    margin-top: 50px;
  }
  .footer-container {
    display: flex;
    align-items: center;
  }
  .footer-img {
    padding: 10px 20px;
  }
  .footer-img img {
    border-radius: 20%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .footer-tit {
    color: #ff9900;
    font-weight: 1000;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .footer-copu {
    padding: 0px 20px;
    color: #616469;
  }
  .company-tit {
    font-size: 22px;
    padding: 0px 20px;
    font-weight: 700;
  }
  .company-list {
    font-size: 18px;
    padding: 10px 20px;
    color: #6f7274;
  }
  .tit-container {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
    padding-bottom: 10px;
  }
  .right-link {
    color: #ff9900;
  }
  .select-color {
    color: #ff9900;
  }
  .text-span {
    width: 20ch;
    overflow: hidden;
    text-wrap: nowrap;
    animation: run 4s steps(20) infinite alternate-reverse;
  }
  @keyframes run {
    from {
      width: 0ch;
    }
  }
  .glass-work {
    position: absolute;
    top: 14px;
    right: 10px;
  }
  .locate-data {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    position: absolute;
    bottom: 100px;
    width: 90%;
    margin: auto;
    height: 200px;
    border-radius: 12px;
  }
  .pincodeinputtext {
    text-align: center;
    padding: 3px;
  }
  .pincodeinp {
    width: 90%;
    padding: 5px;
    border-radius: 12px;
  }
  .inputs {
    padding: 0 40px;
  }
  .pincodeinp:focus {
    outline: none;
  }
  .liveloc {
    display: flex;
    gap: 10px;
    color: #fff;
    justify-content: center;
  }
  .ipb {
    background-color: #ff9900;
    width: 90%;
    color: #fff;
    margin-top: 20px;
    text-align: center;
  }
  .title-data {
    position: absolute;
    top: 0;
    font-size: 20px;
  }
  .logouts {
    padding: 240px 0;
  }
  .cart-alert-message {
    background-color: #1ba672;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: 2000;
    display: none;
  }
  .datas {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 50px;
    color: #fff;
    font-weight: 600;
  }
  .cart a {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .headerContainer {
    width: 100%;
    height: 690px;
    background-color: #ff9900;
  }
  .headerImage {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 80px;
    position: absolute;
    left: 20px;
    top: 1px;
  }
  .header-img {
    width: 40px;
    height: 40px;
    border-radius: 12px 12px 12px 12px;
    object-fit: fill;
  }
  .header-title {
    color: #fff;
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 12px;
    font-weight: 1000;
  }
  .nav-bar {
    display: flex;
    justify-content: space-around;
  }
  .nav-menu {
    list-style-type: none;
    color: #fff;
  }
  .nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 1000;
    position: relative;
  }
  .getapp {
    font-size: 1.1rem;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    width: 90%;
    bottom: 20px;
  }
  .signin {
    background-color: #000;
    font-size: 1.1rem;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
  }
  .nav-btn-close {
    display: block;
    text-align: end;
    padding: 15px;
    font-size: 1.2rem;
    color: #fff;
  }
  .nav-menu {
    padding: 20px 20px;
  }
  .nav-menu li {
    padding: 10px 0;
  }
  .signin {
    display: none;
  }
  .imgLeft {
    display: none;
  }
  .imgRight {
    display: none;
  }
  .search {
    display: flex;
    justify-content: center;
    height: 270px;
    align-items: center;
    width: 480px;
    margin: auto;
  }
  .search-box {
    width: 450px;
    height: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
  }
  .text-span {
    width: 20ch;
    overflow: hidden;
    text-wrap: nowrap;
    animation: run 4s steps(20) infinite alternate-reverse;
  }
  @keyframes run {
    from {
      width: 0ch;
    }
  }
  .glass-work {
    position: absolute;
    top: 14px;
    right: 10px;
  }
  .App-cart {
    display: none;
  }
  .nav-btn {
    display: block;
    position: absolute;
    right: 24px;
    top: 30px;
    font-size: 1.4rem;
    color: #fff;
  }
  .headerNav {
    position: fixed;
    background-color: #ff9900;
    height: 100vh;
    width: 70vw;
    left: 0;
    z-index: 40000;
    margin-left: -2099px;
    transition: all 2s;
  }
  .headerNav-active {
    margin-left: 0;
    transition: all 1s;
  }
  .nav-btn-close {
    display: block;
  }
  .nav-btns {
    display: block;
    position: absolute;
    right: 74px;
    top: 30px;
    font-size: 1.4rem;
    color: #fff;
  }
  .mobile-data {
    display: block;
  }
  .app-controler {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    z-index: 20000;
    color: rgba(2, 6, 12, 0.45);
    border-top: 1px solid rgba(2, 6, 12, 0.2);
    padding: 10px 0;
    background-color: #fff;
  }
  .app-controler-data {
    display: flex;
    justify-content: space-around;
  }
  .cart-btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .control {
    margin-left: 5px;
  }
  .cart-tit {
    font-size: 12px;
  }
  .orders-tit {
    position: absolute;
    top: 160px;
    left: 100px;
    display: flex;
    border-bottom: 1px solid rgba(226, 189, 22, 0.3);
    justify-content: center;
    align-items: center;
  }
  .orders-tit-cnt {
    color: #fff;
    font-size: 1.2rem;
    padding: 0 20px;
  }
  .orders-img {
    position: absolute;
    top: 310px;
    left: 200px;
  }
  .orders-img-cnt,
  .orders-img-cnt1 {
    margin: auto;
  }
  .orders-img1 {
    position: absolute;
    top: 460px;
    left: 200px;
  }
  main {
    height: 1130px;
  }
  .food-container,
  .instantshop-container,
  .dineout-container {
    margin-left: 15px;
  }
  .food-container-title,
  .instantshop-container-title {
    font-size: 17px;
    font-weight: 900;
    padding: 0 10px;
  }
  .food-list img,
  .instantshop-list img {
    height: 96px;
    width: 96px;
  }
  .instantshop-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    height: 150px;
  }
  .instantshop-list::-webkit-scrollbar {
    display: none;
  }
  .instantshop-list a {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
  }
  .dineout-content {
    display: flex;
    overflow-x: auto;
    height: 320px;
    gap: 20px;
  }
  .dineout-content::-webkit-scrollbar {
    display: none;
  }
  .dineout-content-files {
    width: 322px;
    height: 320px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .dineout-content-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 318px;
    height: 182px;
    object-fit: cover;
  }
  .dineout-content-img {
    background-color: rgba(0, 0, 0, 0.0470588235);
  }
  .company-topic {
    position: absolute;
    top: 47%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }
  .company-rating {
    font-weight: 600;
    font-size: 16px;
    text-shadow: 4px 4px 12px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  .fa-star {
    color: var(--bs-success);
  }
  .company-tit-topic {
    font-size: 21px;
    text-shadow: 4px 4px 12px #000;
    font-weight: 900;
  }
  .contenttitle {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #6f7274;
  }
  .fa-square-check,
  .table-booking {
    color: #6f7274;
    margin-left: 10px;
  }
  .table-booking {
    width: 37%;
    font-size: 13px;
    padding: 2px 2px;
    border-radius: 4px;
    background-color: #f0f0f5;
  }
  .offer-img img {
    height: 20px;
  }
  .offers {
    display: flex;
    border: 1px solid #1ba672;
    background-color: #1ba672;
    width: 300px;
    margin: auto;
    color: #fff;
    gap: 10px;
    border-radius: 12px;
    justify-content: center;
    margin-top: 5px;
  }
  footer {
    background-color: #f0f0f5;
    height: 400px;
    width: 100%;
    margin-top: 50px;
  }
  .footer-container {
    display: flex;
    align-items: center;
  }
  .footer-img {
    padding: 10px 20px;
  }
  .footer-img img {
    border-radius: 20%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .footer-tit {
    color: #ff9900;
    font-weight: 1000;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .footer-copu {
    padding: 0px 20px;
    color: #616469;
  }
  .company-tit {
    font-size: 22px;
    padding: 0px 20px;
    font-weight: 700;
  }
  .company-list {
    font-size: 18px;
    padding: 10px 20px;
    color: #6f7274;
  }
  .tit-container {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
    padding-bottom: 10px;
  }
  .right-link {
    color: #ff9900;
  }
  .select-color {
    color: #ff9900;
  }
  .locate-data {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    position: absolute;
    bottom: 100px;
    width: 90%;
    margin: auto;
    height: 200px;
    border-radius: 12px;
  }
  .pincodeinputtext {
    text-align: center;
    padding: 3px;
  }
  .pincodeinp {
    width: 90%;
  }
  .inputs {
    padding: 0 40px;
  }
  .pincodeinp:focus {
    outline: none;
  }
  .liveloc {
    display: flex;
    gap: 10px;
    color: #fff;
    justify-content: center;
  }
  .ipb {
    background-color: #ff9900;
    width: 90%;
    color: #fff;
    margin-top: 20px;
    text-align: center;
  }
  .title-data {
    position: absolute;
    top: 0;
    font-size: 20px;
  }
  .cart-alert-message {
    background-color: #1ba672;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: 2000;
    display: none;
  }
  .datas {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }
  .cart a {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .headerContainer {
    width: 100%;
    height: 500px;
    background-color: #ff9900;
  }
  .headerImage {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 60px;
  }
  .header-img {
    width: 40px;
    height: 40px;
    border-radius: 12px 12px 12px 12px;
    object-fit: fill;
  }
  .header-title {
    color: #fff;
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 12px;
    font-weight: 1000;
  }
  .nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid rgba(226, 189, 22, 0.3);
  }
  .nav-menu {
    display: flex;
    gap: 20px;
    height: 60px;
    align-items: center;
    list-style-type: none;
    color: #fff;
    width: 100%;
    padding: 0;
  }
  .nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 1000;
    position: relative;
    padding: 2px 0;
  }
  .nav-menu a::before {
    content: "";
    height: 2px;
    border-radius: 12px;
    position: absolute;
    width: 0%;
    bottom: 0;
    background-color: #fff;
    transition: all 0.22s;
  }
  .nav-menu li:hover a::before {
    width: 90%;
  }
  .getapp {
    font-size: 1.1rem;
    border: 1px solid #fff;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  .App-cart {
    font-size: 1.3rem;
    position: relative;
  }
  .cart-count {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    width: 6px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
  }
  .signin {
    background-color: #000;
    font-size: 1.1rem;
    border: 1px solid #000;
    padding: 4px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .imgLeft {
    position: absolute;
    left: 0;
    top: 60px;
    height: 450px;
    width: 250px;
  }
  .imgRight {
    position: absolute;
    right: 0;
    top: 60px;
    height: 450px;
    width: 250px;
  }
  .search {
    display: flex;
    justify-content: center;
    height: 370px;
    align-items: center;
  }
  .search-box {
    width: 450px;
    height: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
  }
  .text-span {
    width: 20ch;
    overflow: hidden;
    text-wrap: nowrap;
    animation: run 4s steps(20) infinite alternate-reverse;
  }
  @keyframes run {
    from {
      width: 0ch;
    }
  }
  .glass-work {
    position: absolute;
    top: 14px;
    right: 10px;
  }
  .food-container-title,
  .instantshop-container-title {
    width: 80%;
    margin: auto;
    font-size: 23px;
    font-weight: 700;
  }
  .food-list img,
  .instantshop-list img {
    width: 144px;
    height: 180px;
  }
  .food-list {
    width: 80%;
    margin: auto;
  }
  .instantshop-list a {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
  }
  .instantshop-list {
    display: flex;
    width: 80%;
    margin: auto;
    overflow-x: scroll;
    gap: 20px;
    scroll-behavior: smooth;
  }
  .instantshop-list::-webkit-scrollbar {
    display: none;
  }
  .dineout-content {
    display: flex;
    overflow-x: auto;
    height: 320px;
    gap: 20px;
    width: 80%;
    margin: auto;
    scroll-behavior: smooth;
  }
  .dineout-content::-webkit-scrollbar {
    display: none;
  }
  .dineout-content-files {
    width: 322px;
    height: 320px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .dineout-content-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 318px;
    height: 182px;
    object-fit: cover;
  }
  .dineout-content-img {
    background-color: rgba(0, 0, 0, 0.0470588235);
  }
  .company-topic {
    position: absolute;
    top: 47%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }
  .company-rating {
    font-weight: 600;
    font-size: 16px;
    text-shadow: 4px 4px 12px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  .fa-star {
    color: var(--bs-success);
  }
  .company-tit-topic {
    font-size: 21px;
    text-shadow: 4px 4px 12px #000;
    font-weight: 900;
  }
  .contenttitle {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #6f7274;
  }
  .fa-square-check,
  .table-booking {
    color: #6f7274;
    margin-left: 10px;
  }
  .table-booking {
    width: 37%;
    font-size: 13px;
    padding: 2px 2px;
    border-radius: 4px;
    background-color: #f0f0f5;
  }
  .offer-img img {
    height: 20px;
  }
  .offers {
    display: flex;
    border: 1px solid #1ba672;
    background-color: #1ba672;
    width: 300px;
    margin: auto;
    color: #fff;
    gap: 10px;
    border-radius: 12px;
    justify-content: center;
    margin-top: 5px;
  }
  footer {
    background-color: #f0f0f5;
    height: 100px;
    width: 100%;
  }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-img {
    padding: 10px 20px;
  }
  .footer-img img {
    border-radius: 20%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .footer-tit {
    color: #ff9900;
    font-weight: 1000;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .footer-copu {
    padding: 0px 20px;
    color: #616469;
  }
  .company-tit {
    font-size: 22px;
    padding: 0px 20px;
    font-weight: 700;
  }
  .footer-company {
    display: none;
  }
  .company-list {
    font-size: 18px;
    padding: 10px 20px;
    color: #6f7274;
  }
  .Scrollbar-bottom {
    display: flex;
    gap: 10px;
    justify-content: space-around;
  }
  .arrow-left,
  .arrow-right {
    background-color: #d9dadb;
    width: 3%;
    border-radius: 50%;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
  }
  .arrow-left:hover,
  .arrow-right:hover {
    background-color: #ff9900;
    color: #fff;
  }
  .tit-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  .right-link {
    width: 80%;
    margin: auto;
    cursor: pointer;
  }
  .right-link:hover {
    color: #ff9900;
  }
  #cart-container {
    width: 450px;
  }
  .offcanvas-heading {
    display: flex;
    gap: 300px;
  }
  .cart-title {
    font-size: 23px;
  }
  .offcanvas-headers {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 10px;
    background-color: #ff9900;
    color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .close-off {
    color: #fff;
    border: none;
    background-color: transparent;
    margin-top: 6px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 2159px) {
  .headerContainer {
    width: 100%;
    height: 500px;
    background-color: #ff9900;
  }
  .headerImage {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 130px;
  }
  .header-img {
    width: 40px;
    height: 40px;
    border-radius: 12px 12px 12px 12px;
    object-fit: fill;
  }
  .header-title {
    color: #fff;
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 12px;
    font-weight: 1000;
  }
  .nav-bar {
    display: flex;
    justify-content: space-around;
  }
  .nav-menu {
    display: flex;
    gap: 50px;
    height: 130px;
    align-items: center;
    list-style-type: none;
    color: #fff;
  }
  .nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 1000;
    position: relative;
    padding: 4px;
  }
  .nav-menu a::before {
    content: "";
    height: 2px;
    border-radius: 12px;
    position: absolute;
    width: 0%;
    bottom: 0;
    background-color: #fff;
    transition: all 0.22s;
  }
  .nav-menu li:hover a::before {
    width: 90%;
  }
  .getapp {
    font-size: 1.1rem;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.8s ease;
    background-size: 0;
  }
  .App-cart {
    font-size: 1.3rem;
    position: relative;
  }
  .cart-count {
    position: absolute;
    top: -17px;
    right: -10px;
    background-color: red;
    color: white;
    width: 6px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
  }
  .signin {
    background-color: #000;
    font-size: 1.1rem;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .signin:hover {
    background-color: rgba(0, 0, 0, 0.6705882353);
  }
  .getapp:hover {
    background-color: #ff4343;
  }
  .imgLeft {
    position: absolute;
    left: 0;
    top: 60px;
    height: 450px;
    width: 250px;
  }
  .imgRight {
    position: absolute;
    right: 0;
    top: 60px;
    height: 450px;
    width: 250px;
  }
  .search {
    display: flex;
    justify-content: center;
    height: 370px;
    align-items: center;
  }
  .search-box {
    width: 450px;
    height: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
  }
  .text-span {
    width: 20ch;
    overflow: hidden;
    text-wrap: nowrap;
    animation: run 4s steps(20) infinite alternate-reverse;
  }
  @keyframes run {
    from {
      width: 0ch;
    }
  }
  .glass-work {
    position: absolute;
    top: 14px;
    right: 10px;
  }
  .food-container-title,
  .instantshop-container-title {
    width: 80%;
    margin: auto;
    font-size: 23px;
    font-weight: 700;
  }
  .food-list img,
  .instantshop-list img {
    width: 144px;
    height: 180px;
  }
  .food-list {
    width: 80%;
    margin: auto;
  }
  .instantshop-list a {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
  }
  .instantshop-list {
    display: flex;
    width: 80%;
    margin: auto;
    overflow-x: scroll;
    gap: 20px;
    scroll-behavior: smooth;
  }
  .instantshop-list::-webkit-scrollbar {
    display: none;
  }
  .dineout-content {
    display: flex;
    overflow-x: auto;
    height: 320px;
    gap: 20px;
    width: 80%;
    margin: auto;
    scroll-behavior: smooth;
    cursor: pointer;
  }
  .dineout-content::-webkit-scrollbar {
    display: none;
  }
  .dineout-content-files {
    width: 322px;
    height: 320px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .dineout-content-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 318px;
    height: 182px;
    object-fit: cover;
  }
  .dineout-content-img {
    background-color: rgba(0, 0, 0, 0.0470588235);
  }
  .company-topic {
    position: absolute;
    top: 47%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }
  .company-rating {
    font-weight: 600;
    font-size: 16px;
    text-shadow: 4px 4px 12px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  .fa-star {
    color: var(--bs-success);
  }
  .company-tit-topic {
    font-size: 21px;
    text-shadow: 4px 4px 12px #000;
    font-weight: 900;
  }
  .contenttitle {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #6f7274;
  }
  .fa-square-check,
  .table-booking {
    color: #6f7274;
    margin-left: 10px;
  }
  .table-booking {
    width: 37%;
    font-size: 13px;
    padding: 2px 2px;
    border-radius: 4px;
    background-color: #f0f0f5;
  }
  .offer-img img {
    height: 20px;
  }
  .offers {
    display: flex;
    border: 1px solid #1ba672;
    background-color: #1ba672;
    width: 300px;
    margin: auto;
    color: #fff;
    gap: 10px;
    border-radius: 12px;
    justify-content: center;
    margin-top: 5px;
  }
  footer {
    background-color: #f0f0f5;
    height: 100px;
    width: 100%;
  }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-img {
    padding: 10px 20px;
  }
  .footer-img img {
    border-radius: 20%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .footer-tit {
    color: #ff9900;
    font-weight: 1000;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .footer-copu {
    padding: 0px 20px;
    color: #616469;
  }
  .company-tit {
    font-size: 22px;
    padding: 0px 20px;
    font-weight: 700;
  }
  .footer-company {
    display: none;
  }
  .company-list {
    font-size: 18px;
    padding: 10px 20px;
    color: #6f7274;
  }
  .Scrollbar-bottom {
    display: flex;
    gap: 10px;
    justify-content: space-around;
  }
  .arrow-left,
  .arrow-right {
    background-color: #d9dadb;
    width: 2%;
    border-radius: 50%;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
  }
  .arrow-left:hover,
  .arrow-right:hover {
    background-color: #ff9900;
    color: #fff;
  }
  .tit-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  .right-link {
    width: 80%;
    margin: auto;
    cursor: pointer;
  }
  .right-link:hover {
    color: #ff9900;
  }
  #cart-container {
    width: 450px;
  }
  .offcanvas-heading {
    display: flex;
    gap: 300px;
  }
  .cart-title {
    font-size: 23px;
  }
  .offcanvas-headers {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 10px;
    background-color: #ff9900;
    color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .close-off {
    color: #fff;
    border: none;
    background-color: transparent;
    margin-top: 6px;
  }
}

/*# sourceMappingURL=style.css.map */
