@import 'variable';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.dots-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 99999999;
}

.dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: $primary-color;
    animation: pulse 2s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: $primary-color;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: $primary-color;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: $primary-color;
        box-shadow: 0 0 0 0 #da6c23c4;
    }
}
.loader-hidden
{
    opacity: 0;
    visibility: hidden;
}




// sm mobile
@media only screen and (min-width:260px) and (max-width:399px) {}

// md mobile
@media only screen and (min-width:400px) and (max-width:767px) {}

// lg mobile and tablets

@media only screen and (min-width:768px) and (max-width:1023px) {}

// laptop sm
@media only screen and (min-width:1024px) and (max-width:1439px) {}

// lg laptops and desktops

@media only screen and (min-width:1440px) and (max-width:2159px) {}