@import 'variable';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.nav-btn {
    display: none;
}

.nav-btns {
    display: none;
}

.nav-btn-close {
    display: none;
}

.mobile-data {
    display: none;
}

// mobiles
@media only screen and (min-width:360px) and (max-width:767px) {
    // main  container 

    // header container

    .headerContainer {
        width: 100%;
        height: 690px;
        background-color: $primary-color;
    }

    .headerImage {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 80px;
        position: absolute;
        left: 20px;
        top: 1px;
    }

    .header-img {
        width: 40px;
        height: 40px;
        border-radius: 12px 12px 12px 12px;
        object-fit: fill;
    }

    .header-title {
        color: #fff;
        font-size: 1.3rem;
        font-style: italic;
        margin-top: 12px;
        font-weight: 1000;
    }

    // nav bar

    .nav-bar {
        display: flex;
        justify-content: space-around;
    }

    .nav-menu {
        list-style-type: none;
        color: #fff;

    }

    .nav-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 1000;
        position: relative;
    }

    .getapp {
        font-size: 1.1rem;
        border: 1px solid #fff;
        padding: 10px 30px;
        border-radius: 10px;
    }

    .signin {
        background-color: #000;
        font-size: 1.1rem;
        border: 1px solid #000;
        padding: 10px 30px;
        border-radius: 10px;
        font-weight: bold;
    }

    .imgLeft {
        display: none;
    }

    .imgRight {
        display: none;
    }

    .search {
        display: flex;
        justify-content: center;
        height: 230px;
        align-items: center;
        width: 380px;
        margin: auto;

    }

    .search-box {
        width: 450px;
        height: 50px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 160px;
        background-color: #fff;
        border-radius: 12px;
        color: #6f7274;
    }

    .App-cart {
        display: none;
    }

    .nav-btn {
        display: block;
        position: absolute;
        right: 24px;
        top: 30px;
        font-size: 1.4rem;
        color: #fff;
    }

    .headerNav {
        position: absolute;
        background-color: $primary-color;
        height: 100vh;
        width: 100vw;
        z-index: 40000;
        margin-left: -1099px;
        transition: all 1s;
    }

    .headerNav-active {
        margin-left: 0;
        transition: all 1s;
    }

    .nav-btn-close {
        display: block;
    }

    .nav-btns {
        display: block;
        position: absolute;
        right: 74px;
        top: 30px;
        font-size: 1.4rem;
        color: #fff;
    }

    .mobile-data {
        display: block;
    }

    .app-controler {
        position: fixed;
        width: 100%;
        height: 50px;
        bottom: 0;
        z-index: 20000;
        color: rgba(2, 6, 12, 0.45);
        border-top: 1px solid rgba(2, 6, 12, 0.2);
        padding: 6px 0;
        background-color: #fff;
    }

    .app-controler-data {
        display: flex;
        justify-content: space-around;
    }

    .cart-btn {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .control {
        margin-left: 5px;
    }

    .cart-tit {
        font-size: 12px;
    }

    .orders-tit {
        position: absolute;
        top: 160px;
        display: flex;
        border-bottom: 1px solid rgba(226, 189, 22, 0.3);
        justify-content: center;
        align-items: center;

    }

    .orders-tit-cnt {
        color: #fff;
        font-size: 1.2rem;
        padding: 0 20px;
    }

    .orders-img {
        position: absolute;
        top: 310px;
        left: 8px;
    }

    .orders-img-cnt,
    .orders-img-cnt1 {
        margin: auto;
    }

    .orders-img1 {
        position: absolute;
        top: 460px;
        left: 2px;
    }

    main {
        height: 1500px;
    }

    // main container
    // food container

    .food-container,
    .instantshop-container,.dineout-container {
        margin-left: 15px;
    }

    .food-container-title,
    .instantshop-container-title {
        font-size: 17px;
        font-weight: 900;
        padding: 0 10px;
    }

    .food-list img,
    .instantshop-list img {
        height: 96px;
        width: 96px;
    }

    .instantshop-list {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        height: 150px;
    }

    .instantshop-list::-webkit-scrollbar {
        display: none;
    }

    .instantshop-list a {
        color: #000;
        text-decoration: none;
        text-align: center;
        font-size: 13px;
    }
    .dineout-content
    {
        display: flex;
        overflow-x: auto;
        height: 320px;
        gap: 20px;
    }
    .dineout-content::-webkit-scrollbar
    {
        display: none;
    }
    .dineout-content-files
    {
        width: 322px;
        height: 320px;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        position: relative;
    }
    .dineout-content-img img
    {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 318px;
        height: 182px;
    }
    .dineout-content-img
    {
        background-color: #0000000c;
    }
    .company-topic
    {
        position: absolute;
        top: 47%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
    }
    .company-rating
    {
       
        font-weight: 600;
        font-size: 16px;
        text-shadow: 4px 4px 12px #000;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
    .fa-star
    {
        color: var(--bs-success);
    }
   
    .company-tit-topic
    {
        font-size: 21px;
        text-shadow: 4px 4px 12px #000;
        font-weight: 900;
    }
    .contenttitle
    {
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        color: #6f7274;
    }
    .fa-square-check,.table-booking
    {
        color: #6f7274;
        margin-left:10px ;
    }
    .table-booking
    {
        width: 37%;
        font-size: 13px;
        padding: 2px 2px;
        border-radius: 4px;
        background-color: #f0f0f5;
    }
    .offer-img img
    {
        height: 20px;

    }
}







// tablets
@media only screen and (min-width:768px) and (max-width:1023px) {
    // main  container 

    // header container

    .headerContainer {
        width: 100%;
        height: 690px;
        background-color: $primary-color;
    }

    .headerImage {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 80px;
        position: absolute;
        left: 20px;
        top: 1px;
    }

    .header-img {
        width: 40px;
        height: 40px;
        border-radius: 12px 12px 12px 12px;
        object-fit: fill;
    }

    .header-title {
        color: #fff;
        font-size: 1.3rem;
        font-style: italic;
        margin-top: 12px;
        font-weight: 1000;
    }

    // nav bar

    .nav-bar {
        display: flex;
        justify-content: space-around;
    }

    .nav-menu {
        list-style-type: none;
        color: #fff;

    }

    .nav-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 1000;
        position: relative;
    }

    .getapp {
        font-size: 1.1rem;
        border: 1px solid #fff;
        padding: 10px 30px;
        border-radius: 10px;
    }

    .signin {
        background-color: #000;
        font-size: 1.1rem;
        border: 1px solid #000;
        padding: 10px 30px;
        border-radius: 10px;
        font-weight: bold;
    }

    .imgLeft {
        display: none;
    }

    .imgRight {
        display: none;
    }

    .search {
        display: flex;
        justify-content: center;
        height: 270px;
        align-items: center;
        width: 480px;
        margin: auto;

    }

    .search-box {
        width: 450px;
        height: 50px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 200px;
        background-color: #fff;
        border-radius: 12px;
    }

    .App-cart {
        display: none;
    }

    .nav-btn {
        display: block;
        position: absolute;
        right: 24px;
        top: 30px;
        font-size: 1.4rem;
        color: #fff;
    }

    .headerNav {
        position: absolute;
        background-color: $primary-color;
        height: 100vh;
        width: 70vw;
        left: 0;
        z-index: 40000;
        margin-left: -2099px;
        transition: all 2s;
    }

    .headerNav-active {
        margin-left: 0;
        transition: all 1s;
    }

    .nav-btn-close {
        display: block;
    }

    .nav-btns {
        display: block;
        position: absolute;
        right: 74px;
        top: 30px;
        font-size: 1.4rem;
        color: #fff;
    }

    .mobile-data {
        display: block;
    }

    .app-controler {
        position: fixed;
        width: 100%;
        height: 60px;
        bottom: 0;
        z-index: 20000;
        color: rgba(2, 6, 12, 0.45);
        border-top: 1px solid rgba(2, 6, 12, 0.2);
        padding: 10px 0;
    }

    .app-controler-data {
        display: flex;
        justify-content: space-around;
    }

    .cart-btn {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .control {
        margin-left: 5px;
    }

    .cart-tit {
        font-size: 12px;
    }

    .orders-tit {
        position: absolute;
        top: 160px;
        left: 100px;
        display: flex;
        border-bottom: 1px solid rgba(226, 189, 22, 0.3);
        justify-content: center;
        align-items: center;

    }

    .orders-tit-cnt {
        color: #fff;
        font-size: 1.2rem;
        padding: 0 20px;
    }

    .orders-img {
        position: absolute;
        top: 310px;
        left: 200px;
    }

    .orders-img-cnt,
    .orders-img-cnt1 {
        margin: auto;
    }

    .orders-img1 {
        position: absolute;
        top: 460px;
        left: 200px;
    }

}





// laptops
@media only screen and (min-width:1024px) and (max-width:1439px) {
    // main  container 

    // header container

    .headerContainer {
        width: 100%;
        height: 500px;
        background-color: $primary-color;
    }

    .headerImage {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 60px;
    }

    .header-img {
        width: 40px;
        height: 40px;
        border-radius: 12px 12px 12px 12px;
        object-fit: fill;
    }

    .header-title {
        color: #fff;
        font-size: 1.3rem;
        font-style: italic;
        margin-top: 12px;
        font-weight: 1000;
    }

    // nav bar

    .nav-bar {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid rgba(226, 189, 22, 0.3);

    }

    .nav-menu {
        display: flex;
        gap: 20px;
        height: 60px;
        align-items: center;
        list-style-type: none;
        color: #fff;
        width: 100%;
        padding: 0;

    }

    .nav-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 1000;
        position: relative;
        padding: 2px 0;
    }

    .nav-menu a::before {
        content: "";
        height: 2px;
        border-radius: 12px;
        position: absolute;
        width: 0%;
        bottom: 0;
        background-color: #fff;
        transition: all 0.22s
    }

    .nav-menu li:hover a::before {
        width: 90%;
    }

    .getapp {
        font-size: 1.1rem;
        border: 1px solid #fff;
        padding: 5px 20px;
        border-radius: 10px;
    }

    .App-cart {
        font-size: 1.3rem;
    }

    .signin {
        background-color: #000;
        font-size: 1.1rem;
        border: 1px solid #000;
        padding: 4px 20px;
        border-radius: 10px;
        font-weight: bold;
    }

    .imgLeft {
        position: absolute;
        left: 0;
        top: 60px;
        height: 450px;
        width: 250px;
    }

    .imgRight {
        position: absolute;
        right: 0;
        top: 60px;
        height: 450px;
        width: 250px;
    }

    .search {
        display: flex;
        justify-content: center;
        height: 370px;
        align-items: center;
    }

    .search-box {
        width: 450px;
        height: 50px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 250px;
        background-color: #fff;
        border-radius: 12px;
    }



}





// desktop
@media only screen and (min-width:1440px) and (max-width:2159px) {
    // main  container 

    // header container

    .headerContainer {
        width: 100%;
        height: 500px;
        background-color: $primary-color;
    }

    .headerImage {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 130px;
    }

    .header-img {
        width: 40px;
        height: 40px;
        border-radius: 12px 12px 12px 12px;
        object-fit: fill;
    }

    .header-title {
        color: #fff;
        font-size: 1.3rem;
        font-style: italic;
        margin-top: 12px;
        font-weight: 1000;
    }

    // nav bar

    .nav-bar {
        display: flex;
        justify-content: space-around;

    }

    .nav-menu {
        display: flex;
        gap: 50px;
        height: 130px;
        align-items: center;
        list-style-type: none;
        color: #fff;

    }

    .nav-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 1000;
        position: relative;
        padding: 4px;
    }

    .nav-menu a::before {
        content: "";
        height: 2px;
        border-radius: 12px;
        position: absolute;
        width: 0%;
        bottom: 0;
        background-color: #fff;
        transition: all 0.22s
    }

    .nav-menu li:hover a::before {
        width: 90%;
    }

    .getapp {
        font-size: 1.1rem;
        border: 1px solid #fff;
        padding: 10px 30px;
        border-radius: 10px;
    }

    .App-cart {
        font-size: 1.3rem;
    }

    .signin {
        background-color: #000;
        font-size: 1.1rem;
        border: 1px solid #000;
        padding: 10px 30px;
        border-radius: 10px;
        font-weight: bold;
    }

    .imgLeft {
        position: absolute;
        left: 0;
        top: 60px;
        height: 450px;
        width: 250px;
    }

    .imgRight {
        position: absolute;
        right: 0;
        top: 60px;
        height: 450px;
        width: 250px;
    }

    .search {
        display: flex;
        justify-content: center;
        height: 370px;
        align-items: center;
    }

    .search-box {
        width: 450px;
        height: 50px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 250px;
        background-color: #fff;
        border-radius: 12px;
    }


}