@import 'variable';


i {
    cursor: pointer;
}

header {
    display: none;
}


// sm mobile
@media only screen and (min-width:260px) and (max-width:399px) {
    .search-box-data {
        width: 90%;
        margin: 20px auto;
        padding-right: 20px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        height: 45px;

    }
       .search-det
    {
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        z-index: 9999;
        background-color: #fff;
    }

    input[type="text"]::placeholder {
        font-size: 16px;
        color: rgba(87, 63, 63, 0.575);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    input[type="text"] {
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 18px;
        background-color: transparent;
        width: 100%;
    }

    .icon-color {
        color: rgba(87, 63, 63, 0.575);
    }
     main {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        height: auto;
        margin-top: 50px;
    }
    .main-data
    {
        height: 80vh;
    }

    .main-data img {
        padding: 0 10px;
    }

    .img-data-div {
        display: flex;
        overflow: scroll;
    }

    .img-data-div::-webkit-scrollbar {
        display: none;
    }
    .clr-div
    {
        height: 10px;
        background-color: #f5f6f8;
    }
    .tit-cuisines
    {
        padding:0 10px;
        font-size: 1.3rem;
        font-weight: 800;
    }
    .length
    {
        height: 100px;
    }
    .list-content a
    {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 30px;
        color: #000;
        padding: 10px 0;
    }
    .name-content
    {
        display: flex;
        flex-direction: column;
        padding: 0;
        line-height: 2px;
    }
    .results
    {
        padding: 2px 10px;
    }
    .pr-name
    {
        font-size: 15px;
        font-weight: 800;

    }
    .pr-rel
    {
        color: #8e6a6d;
        font-size: 13px;
    }
    .img-ctrl
    {
        height: 70px;
        width: 70px;
        border-radius: 12px;
    }
     .list-content
    {
        list-style-type: none;
    }


}

// md mobile
@media only screen and (min-width:400px) and (max-width:767px) {
    .search-box-data {
        width: 90%;
        margin: 20px auto;
        padding-right: 20px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        height: 45px;
        position:sticky;
        top: 18px;

    }
    .search-det
    {
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        z-index: 9999;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    input[type="text"]::placeholder {
        font-size: 16px;
        color: rgba(87, 63, 63, 0.575);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;

    }

    input[type="text"] {
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 18px;
        background-color: transparent;
        width: 100%;
    }

    .icon-color {
        color: rgba(87, 63, 63, 0.575);
    }

    main {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        height: auto;
        margin-top: 50px;
    }
    .main-data
    {
        height: 80vh;
    }

    .main-data img {
        padding: 0 10px;
    }

    .img-data-div {
        display: flex;
        overflow: scroll;
    }

    .img-data-div::-webkit-scrollbar {
        display: none;
    }
    .clr-div
    {
        height: 10px;
        background-color: #f5f6f8;
    }
    .tit-cuisines
    {
        padding:0 10px;
        font-size: 1.3rem;
        font-weight: 800;
    }
    .length
    {
        height: 100px;
    }
    .list-content a
    {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 30px;
        color: #000;
        padding: 10px 0;
    }
    .name-content
    {
        display: flex;
        flex-direction: column;
        padding: 0;
        line-height: 2px;
    }
    .results
    {
        padding: 2px 10px;
    }
    .pr-name
    {
        font-size: 15px;
        font-weight: 800;

    }
    .pr-rel
    {
        color: #8e6a6d;
        font-size: 13px;
    }
    .img-ctrl
    {
        height: 70px;
        width: 70px;
        border-radius: 12px;
    }
     .list-content
    {
        list-style-type: none;
    }




}

// lg mobile and tablets

@media only screen and (min-width:768px) and (max-width:1023px) {
    .search-box-data {
        width: 90%;
        margin: 20px auto;
        padding-right: 20px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        height: 45px;

    }
       .search-det
    {
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        z-index: 9999;
        background-color: #fff;
    }

    input[type="text"]::placeholder {
        font-size: 16px;
        color: rgba(87, 63, 63, 0.575);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    input[type="text"] {
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 18px;
        background-color: transparent;
    }

    .icon-color {
        color: rgba(87, 63, 63, 0.575);
    }
    main {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        height: auto;
        margin-top: 50px;
    }
    .main-data
    {
        height: 80vh;
    }

    .main-data img {
        padding: 0 10px;
    }

    .img-data-div {
        display: flex;
        overflow: scroll;
    }

    .img-data-div::-webkit-scrollbar {
        display: none;
    }
    .clr-div
    {
        height: 10px;
        background-color: #f5f6f8;
    }
    .tit-cuisines
    {
        padding:0 10px;
        font-size: 1.3rem;
        font-weight: 800;
    }
    .length
    {
        height: 100px;
    }
    .list-content a
    {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 30px;
        color: #000;
        padding: 10px 0;
    }
    .name-content
    {
        display: flex;
        flex-direction: column;
        padding: 0;
        line-height: 2px;
    }
    .results
    {
        padding: 2px 10px;
    }
    .pr-name
    {
        font-size: 15px;
        font-weight: 800;

    }
    .pr-rel
    {
        color: #8e6a6d;
        font-size: 13px;
    }
    .img-ctrl
    {
        height: 70px;
        width: 70px;
        border-radius: 12px;
    }
    .list-content
    {
        list-style-type: none;
    }

}

// laptop sm
@media only screen and (min-width:1024px) and (max-width:1439px) {
    .search-box-data {
        width: 50%;
        margin: 20px auto;
        padding-right: 20px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        height: 45px;

    }

    input[type="text"]::placeholder {
        font-size: 16px;
        color: rgba(87, 63, 63, 0.575);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    input[type="text"] {
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 18px;
        background-color: transparent;
        width: 100%;
    }

    .icon-color {
        color: rgba(87, 63, 63, 0.575);
    }

    header {
        display: flex;
        align-items: center;
        height: 100px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    .nav-menu {
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
    }

    .nav-button {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }

    .nav-img {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        cursor: pointer;
    }


    .nav-img img {
        border-radius: 12px;
    }

    .location {
        cursor: pointer;
        color: rgba(87, 63, 63, 0.836);
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .locations-tit {
        font-size: 17px;
        color: rgba(87, 63, 63, 0.836);
    }

    li {
        font-size: 18px;
        font-weight: 500;
    }

    .App-cart {
        position: relative;
    }

    .App-cart:hover {
        color: $primary-color;
    }

    .cart-count {
        position: absolute;
        top: -18px;
        left: 10px;
        background-color: red;
        color: white;
        width: 6px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 10px;
        font-size: 14px;
    }

    .nav-button a {
        color: black;
        transition: all 0.5s;
    }

    .nav-button a:hover,
    .nav-button a:active {
        color: $primary-color;
        transition: all 0.5s;
    }

    .icon-changes {
        color: $primary-color;
    }

    .pincodeinputtext {
        color: #777;
    }

    .inputs {
        padding: 0 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        height: 100px;
    }

    #pincodeinp {
        width: 100%;
        padding: 6px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ipb {
        padding: 10px 150px;
        border-radius: 4px;
        background-color: $primary-color;
        color: #fff;
        font-size: 13px;
        margin-top: 6px;
    }

    .pincodeinp::placeholder {
        font-size: 13px;
        color: #999;
    }

    .pincodeinp:focus {
        outline: none;
    }

    .liveloc {
        padding: 43px 12px;
        display: flex;
        gap: 10px;
        color: $primary-color;
    }
        main {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        height: auto;
        margin-top: 50px;
    }
    .main-container
    {
        width: 50%;
        margin: auto;
    }
    .main-data
    {
        height: 80vh;
    }

    .main-data img {
        padding: 0 10px;
    }

    .img-data-div {
        display: flex;
        overflow: scroll;
    }

    .img-data-div::-webkit-scrollbar {
        display: none;
    }
    .clr-div
    {
        height: 10px;
        background-color: #f5f6f8;
    }
    .tit-cuisines
    {
        padding:0 10px;
        font-size: 1.3rem;
        font-weight: 800;
    }
    .length
    {
        height: 100px;
    }
    .list-content a
    {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 30px;
        color: #000;
        padding: 10px 0;
    }
    .name-content
    {
        display: flex;
        flex-direction: column;
        padding: 0;
        line-height: 2px;
    }
    .results
    {
        width: 100%;
        padding: 2px 10px;
    }
    .pr-name
    {
        font-size: 15px;
        font-weight: 800;

    }
    .pr-rel
    {
        color: #8e6a6d;
        font-size: 13px;
    }
    .img-ctrl
    {
        height: 70px;
        width: 70px;
        border-radius: 12px;
    }
    li
    {
        list-style-type: none;
    }

}

// lg laptops and desktops

@media only screen and (min-width:1440px) and (max-width:2159px) {
    .search-box-data {
        width: 50%;
        margin: 20px auto;
        padding-right: 20px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        height: 45px;

    }

    input[type="text"]::placeholder {
        font-size: 16px;
        color: rgba(87, 63, 63, 0.575);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    input[type="text"] {
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 18px;
        width: 100%;
        background-color: transparent;
    }

    .icon-color {
        color: rgba(87, 63, 63, 0.575);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    .nav-menu {
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
    }

    .nav-button {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }

    .nav-img {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        cursor: pointer;
    }


    .nav-img img {
        border-radius: 12px;
    }

    .location {
        cursor: pointer;
        color: rgba(87, 63, 63, 0.836);
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 17px;
    }

    .locations-tit {
        font-size: 17px;
        color: rgba(87, 63, 63, 0.836);
    }

    li {
        font-size: 18px;
        font-weight: 500;
    }

    .App-cart {
        position: relative;
    }

    .App-cart:hover {
        color: $primary-color;
    }

    .cart-count {
        position: absolute;
        top: -18px;
        left: 10px;
        background-color: red;
        color: white;
        width: 6px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 10px;
        font-size: 14px;
    }

    .nav-button a {
        color: black;
        transition: all 0.5s;
    }

    .nav-button a:hover,
    .nav-button a:active {
        color: $primary-color;
        transition: all 0.5s;
    }

    .icon-changes {
        color: $primary-color;
    }

    .pincodeinputtext {
        color: #777;
    }

    .inputs {
        padding: 0 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        height: 100px;
    }

    #pincodeinp {
        width: 100%;
        padding: 6px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ipb {
        padding: 10px 150px;
        border-radius: 4px;
        background-color: $primary-color;
        color: #fff;
        font-size: 13px;
        margin-top: 6px;
    }

    .pincodeinp::placeholder {
        font-size: 13px;
        color: #999;
    }

    .pincodeinp:focus {
        outline: none;
    }

    .liveloc {
        padding: 43px 12px;
        display: flex;
        gap: 10px;
        color: $primary-color;
    }
       main {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        height: auto;
        margin-top: 50px;
    }
    .main-container
    {
        width: 50%;
        margin: auto;
    }
    .tit-cuisines
    {
        display: none;
    }
    .name-content
    {
        display: flex;
        flex-direction: column;
        line-height: 2px;
    }
    .pr-name
    {
        font-size: 15px;
        font-weight: 800;

    }
    .pr-rel
    {
        color: #8e6a6d;
        font-size: 13px;
    }
    .img-ctrl
    {
        height: 70px;
        width: 70px;
        border-radius: 12px;
    }
    .list-content   
    {
        list-style-type: none;
        padding: 0;
        width: 100%;
    }
    .list-content a
    {
       display: flex;
        align-items: center;
        text-decoration: none;
        gap: 30px;
        color: #000;
        padding: 10px 0;
    }
    .results
    {
        width: 100%;
    }








}