@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #198754;
    font-family: "Inter", sans-serif;
}





@media only screen and (min-width:200px) and (max-width:399px) {
	
    .order-main-container
    {
        height: 50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
    }
    .order-header-content
    {
        display: flex;
        gap: 20px;
        justify-content: start;
        align-items: center;
        height: 50px;
        padding: 10px;
    }
    .order-header-arrow
    {
        margin-bottom: 6px;
    }
    .order-header-text h6
    {
        font-weight: 500;
    }
    .novalue-div
    {
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn-redirect button
    {
        border: none;
        padding: 5px 10px;
        background-color: #ff9900;
        color: #fff;
    }
    .data-main-container
    {
        margin-top: 10px;
    }
    .order-items
    {
       
         padding: 5px 10px;
         
    }
    .order-item-container
    {
         border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),-1px -1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        padding: 13px;
        color: #555;
        font-size: 15px;
    }
    .order-id
    {
        color: #ff9900;
        font-weight: 600;
    }
    .checkout-summary-container {
		margin: 30px 0;
		border-radius: 4px;
		height: 250px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

    .checkout-summary-content {
		display: flex;
		gap: 20px;
		align-items: start;
		justify-content: space-between;
		padding: 12px;
	}


	.checkout-summary-header {
		line-height: 2px;
	}


	.checkout-summary-content-det {
		display: flex;
		gap: 10px;
	}

	.line {
		background-color: #f0f0f5;
		height: 2px;
		width: 100%;
	}

	.checkout-summary-price-container p {
		font-size: 12px;
		width: 40ch;
		color: #777;
	}

	.checkout-summary-price-container {
		padding: 10px;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
	}

	.checkout-summary-pay-amt {
		display: flex;
		justify-content: space-between;
		align-items: start;
		font-size: 13px;
		font-weight: 500;
		color: #888;
	}

	.checkout-summary-topay-amt {
		display: flex;
		justify-content: space-between;
		font-size: 13px;
		font-weight: 800;
	}

	.checkout-summary-price {
		display: flex;
		flex-direction: column;
		gap: 7px;
	}

	.topay {
		padding: 10px;
		font-size: 18px;
		color: #000;
	}
    /* order concept */

    .orderitem-header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:4px 12px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        background-color: #fff;
    }
    .orderiddata
    {
        display: flex;
        flex-direction: column;
        
    }
    .orderuniqid
    {
        color: #000;
        font-weight: 800;
        font-size: 14px;
    }
    .item-count
    {
        color: #888;
        font-size: 13px;
    }
    .order-items-data
    {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .order-items-img img
    {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .productname
    {
        width: 30ch;
        font-size: 11px;
        color: #ff9900;
        font-weight: 500;
    }
    .product-price-container
    {
        display: flex;
        gap: 55px;
        font-size: 12px;
    }
    .product-qty-container
    {
        font-size: 14px;
        font-weight: 700;
    }
    .order-address-container
    {
        padding: 14px 20px;
        position: relative;
    }
    .fromaddress,.toaddress
    {
        display: flex;
        font-size:15px;
        align-items: center;
        gap: 20px;
        padding: 10px 0;
    }
    .formicon,.toicon
    {
        font-size: 20px;
    }
    .homename,.officename
    {
        color: #000;
        font-weight: 600;
    }
    .officeaddress,.homeaddress
    {
        color: #777;
        font-size: 12px;
    }
    .travel-line
    {
        position: absolute;
        top: 60px;
        left: 32px;
        height: 28px;
        border: 1px dashed #0000003f;
        width: 2px;
    }
    
    .fa-close
    {
        font-size: 17px;
    }
    .isorder-status
    {
        text-align: center;
        
    }

}





/* lg mobiles */
@media only screen and (min-width:400px) and (max-width:767px) {

    .order-main-container
    {
        height: 50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
    }
    .order-header-content
    {
        display: flex;
        gap: 20px;
        justify-content: start;
        align-items: center;
        height: 50px;
        padding: 10px;
    }
    .order-header-arrow
    {
        margin-bottom: 6px;
    }
    .order-header-text h6
    {
        font-weight: 500;
    }
    .novalue-div
    {
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn-redirect button
    {
        border: none;
        padding: 5px 10px;
        background-color: #ff9900;
        color: #fff;
    }
    .data-main-container
    {
        margin-top: 10px;
        height: 80vh;
        overflow: scroll;
    }
    .data-main-container::-webkit-scrollbar
    {
        display: none;
    }
    .order-items
    {
       
         padding: 5px 10px;
         
    }
    .order-item-container
    {
         border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),-1px -1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        padding: 13px;
        color: #555;
        font-size: 15px;
    }
    .order-id
    {
        color: #ff9900;
        font-weight: 600;
    }
    .checkout-summary-container {
		margin: 30px 0;
		border-radius: 4px;
		height: 250px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

    .checkout-summary-content {
		display: flex;
		gap: 20px;
		align-items: start;
		justify-content: space-between;
		padding: 12px;
	}


	.checkout-summary-header {
		line-height: 2px;
	}


	.checkout-summary-content-det {
		display: flex;
		gap: 10px;
	}

	.line {
		background-color: #f0f0f5;
		height: 2px;
		width: 100%;
	}

	.checkout-summary-price-container p {
		font-size: 12px;
		width: 40ch;
		color: #777;
	}

	.checkout-summary-price-container {
		padding: 10px;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
	}

	.checkout-summary-pay-amt {
		display: flex;
		justify-content: space-between;
		align-items: start;
		font-size: 13px;
		font-weight: 500;
		color: #888;
	}

	.checkout-summary-topay-amt {
		display: flex;
		justify-content: space-between;
		font-size: 13px;
		font-weight: 800;
	}

	.checkout-summary-price {
		display: flex;
		flex-direction: column;
		gap: 7px;
	}

	.topay {
		padding: 10px;
		font-size: 18px;
		color: #000;
	}
    /* order concept */

    .orderitem-header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:4px 12px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        background-color: #fff;
    }
    .orderiddata
    {
        display: flex;
        flex-direction: column;
        
    }
    .orderuniqid
    {
        color: #000;
        font-weight: 800;
        font-size: 14px;
    }
    .item-count
    {
        color: #888;
        font-size: 13px;
    }
    .order-items-data
    {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .order-items-img img
    {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .productname
    {
        width: 30ch;
        font-size: 11px;
        color: #ff9900;
        font-weight: 500;
    }
    .product-price-container
    {
        display: flex;
        gap: 55px;
        font-size: 12px;
    }
    .product-qty-container
    {
        font-size: 14px;
        font-weight: 700;
    }
    .order-address-container
    {
        padding: 14px 20px;
        position: relative;
    }
    .fromaddress,.toaddress
    {
        display: flex;
        font-size:15px;
        align-items: center;
        gap: 20px;
        padding: 10px 0;
    }
    .formicon,.toicon
    {
        font-size: 20px;
    }
    .homename,.officename
    {
        color: #000;
        font-weight: 600;
    }
    .officeaddress,.homeaddress
    {
        color: #777;
        font-size: 12px;
    }
    .travel-line
    {
        position: absolute;
        top: 60px;
        left: 32px;
        height: 28px;
        border: 1px dashed #0000003f;
        width: 2px;
    }
    
    .fa-close
    {
        font-size: 17px;
    }
    .isorder-status
    {
        text-align: center;
        
    }

    






 



}







/*  tablets */
@media only screen and (min-width:768px) and (max-width:1023px) {

    .order-main-container
    {
        height: 50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
    }
    .order-header-content
    {
        display: flex;
        gap: 20px;
        justify-content: start;
        align-items: center;
        height: 50px;
        padding: 10px;
    }
    .order-header-arrow
    {
        margin-bottom: 6px;
    }
    .order-header-text h6
    {
        font-weight: 500;
    }
    .novalue-div
    {
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn-redirect button
    {
        border: none;
        padding: 5px 10px;
        background-color: #ff9900;
        color: #fff;
    }
    .data-main-container
    {
        margin-top: 10px;
    }
    .order-items
    {
       
         padding: 5px 10px;
         
    }
    .order-item-container
    {
         border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),-1px -1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        padding: 13px;
        color: #555;
        font-size: 15px;
    }
    .order-id
    {
        color: #ff9900;
        font-weight: 600;
    }
    .checkout-summary-container {
		margin: 30px 0;
		border-radius: 4px;
		height: 250px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

    .checkout-summary-content {
		display: flex;
		gap: 20px;
		align-items: start;
		justify-content: space-between;
		padding: 12px;
	}


	.checkout-summary-header {
		line-height: 2px;
	}


	.checkout-summary-content-det {
		display: flex;
		gap: 10px;
	}

	.line {
		background-color: #f0f0f5;
		height: 2px;
		width: 100%;
	}

	.checkout-summary-price-container p {
		font-size: 12px;
		width: 40ch;
		color: #777;
	}

	.checkout-summary-price-container {
		padding: 10px;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
	}

	.checkout-summary-pay-amt {
		display: flex;
		justify-content: space-between;
		align-items: start;
		font-size: 13px;
		font-weight: 500;
		color: #888;
	}

	.checkout-summary-topay-amt {
		display: flex;
		justify-content: space-between;
		font-size: 13px;
		font-weight: 800;
	}

	.checkout-summary-price {
		display: flex;
		flex-direction: column;
		gap: 7px;
	}

	.topay {
		padding: 10px;
		font-size: 18px;
		color: #000;
	}
    /* order concept */

    .orderitem-header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:4px 12px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        background-color: #fff;
    }
    .orderiddata
    {
        display: flex;
        flex-direction: column;
        
    }
    .orderuniqid
    {
        color: #000;
        font-weight: 800;
        font-size: 14px;
    }
    .item-count
    {
        color: #888;
        font-size: 13px;
    }
    .order-items-data
    {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .order-items-img img
    {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .productname
    {
        width: 30ch;
        font-size: 11px;
        color: #ff9900;
        font-weight: 500;
    }
    .product-price-container
    {
        display: flex;
        gap: 55px;
        font-size: 12px;
    }
    .product-qty-container
    {
        font-size: 14px;
        font-weight: 700;
    }
    .order-address-container
    {
        padding: 14px 20px;
        position: relative;
    }
    .fromaddress,.toaddress
    {
        display: flex;
        font-size:15px;
        align-items: center;
        gap: 20px;
        padding: 10px 0;
    }
    .formicon,.toicon
    {
        font-size: 20px;
    }
    .homename,.officename
    {
        color: #000;
        font-weight: 600;
    }
    .officeaddress,.homeaddress
    {
        color: #777;
        font-size: 12px;
    }
    .travel-line
    {
        position: absolute;
        top: 60px;
        left: 32px;
        height: 28px;
        border: 1px dashed #0000003f;
        width: 2px;
    }
    
    .fa-close
    {
        font-size: 17px;
    }
    .isorder-status
    {
        text-align: center;
        
    }

}




/*  laptops */
@media only screen and (min-width:1024px) and (max-width:1439px) {
body
{
    display: none;
}
}



/*  desktops*/
@media only screen and (min-width:1440px) and (max-width:2159px) {
body
{
    display: none;
}
}




